*{
    box-sizing: border-box;
}

body{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777;
    background-image: url("../images/concrete_seamless.png")
}


/* HEADER START */

header{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 2px solid #ccc;
    background-color: #fff;
    z-index: 9999;

}

.content-bar{
    width: 960px;
    margin: 0 auto;
}

.logo{
    display: inline-block;
    width: 250px;
    height: 90px;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    background-color: #4aaaa5;
    color: #fff;
    text-align: center;
    text-decoration: none;
}

.navigation-bar{
    float: right;
    margin-top: 25px;
}

nav a{
    text-decoration: none;
    color: #999;
    border-left: 1px solid #efefef;
    padding-left: 15px;
    margin-left: 15px;
    line-height: 18px;
    text-decoration: none;
}

a:first-child{
    border-left: 0;
}

/* HEADER END */



/* ABOUT ME START */

.main-content-area{
    width: 960px;
    margin: 130px auto 30px auto;
}

h1, h2, h3 {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: 700;
    color: #4aaaa5;
    margin-bottom: 30px;
}


.section-title{
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 49px;
    border-bottom: 3px solid #ddd;
}

.profile-photo{
    width: 200px;
    float: left;
    margin-right: 20px;
}

section{
    border: 1px solid #ddd;
    float: left;
    width: 650px;
    background-color: #fff;
    padding: 30px;
}

aside{
    border: 1px solid #ddd;
    float: right;
    width: 270px;
    background-color: #fff;
    padding: 20px;
    text-align: center;
}

.media-title{
    font-size: 22px;
    padding-bottom: 20px;
    margin-bottom: 15px;
    line-height: 22px;
    border-bottom: 2px solid #eee;
}

.media{
    width: 62px;
    height: 62px;
    margin-top: 8px;
    margin-right: 5px;
}

/* ABOUT ME END */



/* PORTFOLIO STARTED */


.gallery{
    position: relative;
    float: left;
    width: 274px;
    margin: 5px 0 23px;
}

.gallery:last-child{
    margin-bottom: 0;
}

.gallery:nth-child(even) {
    margin-right: 40px;
}

.gallery img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
}

.gallery h3{
    position: absolute;
    bottom: 32px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background: #4aaaa5;
    border-bottom: 0;
    font-size: 22px;
}

/* PORTFOLIO END */



/* CONTACT START */

form{
    margin-top: -10px;
}

input, textarea{
    width: 100%;
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

button{
    padding: 10px 30px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
}

/* CONTACT END */



/* FOOTER START */

footer{
    padding: 30px 0;
    font-size: 12px;
    clear: both;
    color: #ccc;
    text-align: center;
    background: #666;
    border-top: 8px solid #4aaaa5; 
}

/* FOOTER END */